/* App.css */

body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 70px;
  box-sizing: border-box;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

nav ul {
  display: flex;
  gap: 1.5em;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  margin: 0.5em 0;
}

p, span {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}



@media (max-width: 768px) {
  .app-container {
    padding: 20px;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }
}

